/*Position*/
.start-25{
    right: 25%;
}
.end-40{
    left: 40%;
}

.cursor-pointer{
    cursor: pointer;
}

@media (min-width:992px){
    .end-lg-50{
        left: 50% !important;   
    }
}


/* Colors */
.bg-yellow {
    background-color: var(--yellow)
}

.bg-violet {
    background-color: var(--violet)
}

.bg-cyan {
    background-color: var(--cyan)
}

/* TEXT */

.text-dark-gray {
    color: var(--dark-gray);
}

.fs-7{
    font-size: 0.8rem;
}

/* size */
.w-30{
    width:30%;
}
.w-35{
    width:35%;
}

.w-fit-content{
    width: fit-content;   
}

@media (min-width:992px){
    .w-lg-fit-content{
        width: fit-content !important;   
    }
}

@media (min-width:768px){
    .w-md-fit-content{
        width: fit-content !important;   
    }
}

/*-------------------
| Custom Styling
---------------------*/

/* Override Slick*/
.slick-list{
    overflow: unset;
    overflow-x: clip;
    overflow-y: unset;
}



/* Components */

.my-btn{
    border:0px;
    /*padding:0.5rem 1.8rem;*/
    border-radius:3rem;
    transition: all 0.5s ease;
}

.my-btn:hover{
    opacity:0.9;
}

.effect-glass{
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 0px;
    margin-top: 1rem;
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.28) rgba(170, 170, 170, 0.38);
    border-image: initial;
    box-shadow: rgb(0 0 0 / 5%) 0px 0.3rem 0.6rem;
}



@media (max-width:768px){
    .effect-md-glass{
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem 0px;
        margin-top: 1rem;
        border-radius: 1rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.28) rgba(255, 255, 255, 0.28) rgba(170, 170, 170, 0.38);
        border-image: initial;
        box-shadow: rgb(0 0 0 / 5%) 0px 0.3rem 0.6rem;
    }
}



/*NAVBAR*/
nav a{
    position: relative;
    display: block;
    padding:0.5rem 1.2rem;

    color: white ;
    font-weight: bold ;
    text-decoration: none;
    
    transition: all 0.5s ease;
}


/* underline */
nav .nav-item a.active::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:var(--yellow);
    left:50%;
    bottom:0;
    transform: translateX(-50%);
}

nav .nav-item a.active{
    color: white !important;
}


nav .nav-item a:hover{
    color: var(--yellow);
}

nav circle{
    position: absolute;
    fill: transparent;
    stroke: var(--yellow);
    transform-origin: 50% 50%;
    stroke-width: 4px;
    stroke-dasharray: 190;
    stroke-dashoffset: 189;
    transform: rotate(89deg);
    stroke-linecap:round;
    transition:all 0.5s ease, stroke-width 0.9s ease;
}

nav circle:hover{
    stroke-width: 2px;
    stroke-dashoffset: 0;
}


.circle-container{
    position: relative;
}

.circle-container svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-btn{
    border:0px;
    padding:0.5rem 1.8rem;
    border-radius:3rem;
    font-weight: bold;
    font-size: 1rem;
    margin-inline-start: 1rem;
    transition: all 0.5s ease;
}

.my-btn:hover{
    opacity:0.9;
}


/* Animation */

[class*='floating-icon-']{
    position: absolute;
}


.floating-icon-1{
    z-index: 2;
    left: -15px;
    
}
.floating-icon-2{
    z-index: 1;
    left: 19px;
    top: -19px;
}

.floating-icon-3{
    z-index: 0;
    top: -50px;
}


.floating{
    animation: floating 6s ease-in-out infinite;
}

.animation-delay-5{
    animation-delay: 0.5s;
}

.animation-delay-10{
    animation-delay: 1s;
}
@keyframes floating{
    0%{
        transform: translatey(0px);
    }

    50%{
        transform: translatey(-20px);
    }

    100%{
        transform: translatey(0px);
    }
}

/*HERO SECTIONS*/
.hero-gradient{
    background: linear-gradient(90deg, var(--violet) -6%, var(--cyan) 100%);
}

@media (max-width:560px){
    .hero-gradient{
        background: linear-gradient(90deg, var(--violet) -65%, var(--cyan) 110%);
    }
}


section.hero{
    position:relative;

    background-color: var(--violet);
    
    padding-bottom: 9rem;

    
}

.curverd-bottom{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 175px;
    
    transform: translateY(50%);
    
    background-color:var(--violet);
    border-radius: 100%;
    
}

.hero-bottom{
    position:absolute;
    bottom: 0;
    left: 0;
    width:100%;
}

.hero-bottom path{
    fill: url(#MyGradient);
    fill: transparent;
}

.numberbadge{
    display: flex;
    align-items: center;
    justify-content:center;

    background-color: var(--yellow);

    font-weight: bold;

    width: 2.3rem !important;
    height: 2.3rem !important;
    padding: 21px;

    border-radius: 100%;

    position: absolute;
    top: 0.5rem;
    left: 1.5rem;


    transform: translate(-50%, -50%);
}



.cards-container-mobile{
    position: absolute !important;
    left: 50%;
    bottom: 0rem !important;
    transform: translate(-50%, 55%);
    width: 100%;
}

.cards-container .slick-arrow, .cards-container-mobile .slick-prev, .cards-container-mobile .slick-next{
    display: none !important;
}

.cards-container{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    /* left: 0; */
    bottom: 0rem;
    transform: translateY(75%);
}


.card-image-container{
    display:flex;
    align-items: center;
    width: 50%;
    height:5rem;

    margin-bottom: 1rem;
}

.card-image-container img{
   
}

/* Security Section */
.security-center{
    margin-top: 15rem;
}


.animate-button{
    transition: all 0.5s ease-out;
}

.animate-button:hover{
    transform: scale(1.05);
    box-shadow: 0 .2rem 0.4rem rgba(0,0,0,.15)!important;
}


/* Currency Section */

.currencies-section{
    background: linear-gradient(90deg, var(--cyan) -20%, var(--violet) 120%);
}

@media (max-width:560px){
    .currencies-section{
        background: linear-gradient(90deg, var(--cyan) -40%, var(--violet) 200%);
    }
}



.currencies-icons {
    transform-origin: 50% 0%;
    animation-name: rotatation-animation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotatation-animation {
    0%{
        transform: rotate(0deg) translateY(-50%);
    }

    100%{
        transform: rotate(360deg) translateY(-50%);
    }
}

.currencies-icons img {
    animation-name: rotatation-animation-icons;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: reverse;
}


@keyframes rotatation-animation-icons {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* Footer */
footer{
    background-color: var(--gray);
}


footer img{
    transition: all 0.5s ease
}

footer img:hover{
    opacity:0.7;
}

footer ul{
    list-style: none;
}

footer ul a{
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-gray)
}

footer ul a:hover{
    color: var(--dark-gray);
    opacity:0.7;
}


